/.metadata/
.settings/
.gitignore**
RemoteSystemsTempFiles/
jlink.log
utilities/python_scripts**


DA147??-0?-Debug*/
DA147??-0?-Release*/
DA147??-0?-SNC-Debug*/
DA147??-0?-SNC-Release*/

DA147??-0?-SNC_dgCoRoutines-Debug*/
DA147??-0?-SNC_dgCoRoutines-Release*/

DA147??-0?_OQFLASH_*/
DA147??-0?_QFLASH_*/

Debug/
Release/
